@import "../../../../assets/fontsVariable.scss";

.lets-meet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: auto auto;
  height: 100%;
  p {
    margin: 0 0;
    color: black;
    font-size: 10px;
    font-family: $open-sans;
  }
}
@media screen and (min-width: 400px) and (orientation: portrait) {
  .lets-meet-wrapper {
    p {
      font-size: 12px;
    }
  }
}
@media screen and (orientation: landscape) and (max-width: 840px) {
  .lets-meet-wrapper {
    p {
      font-size: 9px;
    }
  }
}
