@import "../../assets/fontsVariable";

.mobile-navigation {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: start;
  height: 15vh;
  background-color: #fff;
  z-index: 3;
  .name-pargaraf {
    position: fixed;
    top: 0vh;
    left: 68%;
    font-size: 9px;
    font-family: $shadows-into;
    color: black;
    text-transform: uppercase;
    transition: 1s;
    z-index: 5;
    &.mainPage {
      top: 63vh;
      left: 10%;
    }
  }

  .navigation-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 35%;
    width: 30%;
    cursor: pointer;
    margin: 4vh 15vw 0 0;
    .menu-div {
      height: 0.5vh;
      width: 50%;
      border: 1px solid #d9c2c4;
      &:nth-of-type(2) {
        width: 40%;
      }
    }
  }
}
.navigation-logo {
  display: flex;
  margin: 2vh 0 0 15vw;
  width: 30%;
  height: 50%;
  background-image: url("./Img/Logo/Psycho_Edukatorka_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  a {
    width: 100%;
    height: 100%;
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -1000px;
  bottom: 15vh;
  width: 100%;
  transition: 1s;
  &.active {
    right: 0;
    .navigation-menu-wrapper {
      height: 95%;
      width: 90%;
      border: 1px solid #d9c2c4;
    }
  }
  .navigation-menu-wrapper {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 80%;
      margin-top: 100px;
      padding-left: 0;
      list-style: none;
      li {
        margin-bottom: 50px;
        a {
          color: black;
          text-decoration: none;
          font-size: 24px;
          font-family: $open-sans;
          font-weight: 200;
          text-transform: uppercase;

          &:visited {
            color: black;
          }
        }
      }
    }
  }
}
.desktop-navigation {
  display: none;
}
@media screen and (min-width: 400px) and (orientation: portrait) {
  .mobile-navigation {
    .name-pargaraf {
      font-size: 10px;
    }
  }
}
@media screen and (orientation: landscape) {
  .mobile-navigation {
    display: none;
    opacity: 0;
  }
  .desktop-navigation {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    .navigation-logo {
      margin: 0 12%;
      height: 80%;
      width: 15%;
    }
    .navigation-desktop-menu {
      display: flex;
      justify-content: space-around;
      margin-right: 15%;
      width: 30%;
      a {
        font-size: 20px;
        width: 35%;
      }
    }
  }
}
