@import "../../assets/fontsVariable";

.about-wrapper {
  display: flex;
  width: 100vw;
  height: 88%;
  align-items: center;
  justify-content: center;

  .about-border {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    width: calc(100% - 42px);
    border: 1px $primary-color solid;
    .about-heading {
      display: flex;
      width: 100%;
      height: 40%;
      .about-agata-image {
        background-image: url("/Img/Image/KOKON.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(14px, -65px);
        height: 232px;
        width: 115px;
      }
      h2 {
        align-self: center;
        color: black;
        font-weight: 200;
        font-family: $open-sans;
      }
    }
    .about-slider-wrapper {
      align-self: center;
      margin-bottom: 5px;
      background-color: #e8f2f9;
      height: calc(100% - 5px);
      width: calc(100% - 10px);
    }
  }
  .about-slider-wrapper-desktop {
    display: none;
    background-color: rgba(217, 194, 196, 0.6);
    height: 95%;
    width: 99%;
  }
  .about-border-desktop {
    display: none;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (orientation: landscape) and (max-width: 840px) {
  .about-wrapper {
    display: flex;
    justify-content: end;
    margin-top: 10vh;
    height: 80%;
    background-image: url("/Img/Image/Desktop/[WEB] grafika glowna - kokon - blekit - BEZ KWIATA.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    .about-border {
      display: none;
    }
    .about-border-desktop {
      display: flex;
      height: 80%;
      width: 50%;
      margin: 5vh 2vw 0 0;

      .about-slider-wrapper-desktop {
        display: flex;
      }
    }
  }
}
@media screen and (orientation: landscape) and (min-width: 841px) and (max-width: 1200px) {
  .about-wrapper {
    display: flex;
    justify-content: end;
    margin-top: 10vh;
    height: 95%;
    background-image: url("/Img/Image/Desktop/[WEB] grafika glowna - kokon - blekit - BEZ KWIATA.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    .about-border {
      display: none;
    }
    .about-border-desktop {
      display: flex;
      height: 45%;
      width: 45%;
      margin: 15% 10% 0 0;

      .about-slider-wrapper-desktop {
        display: flex;
      }
    }
  }
}
@media screen and (orientation: landscape) and (min-width: 1201px) {
  .about-wrapper {
    display: flex;
    justify-content: end;
    margin-top: min(10vh, 75px);
    height: 100%;
    background-image: url("/Img/Image/Desktop/[WEB] grafika glowna - kokon - blekit - BEZ KWIATA.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    .about-border {
      display: none;
    }
    .about-border-desktop {
      display: flex;
      height: 45%;
      width: 45%;
      margin: 15% 10% 0 0;

      .about-slider-wrapper-desktop {
        display: flex;
      }
    }
  }
}
