@import "../../assets/fontsVariable";

.about-wrapper {
  display: flex;
  width: 100vw;
  height: 88%;
  align-items: center;
  justify-content: center;

  .about-border {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    width: calc(100% - 42px);
    border: 1px $primary-color solid;
    .about-heading {
      display: flex;
      width: 100%;
      height: 40%;
      .about-agata-image {
        background-image: url("/Img/Image/KOKON.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(14px, -65px);
        height: 232px;
        width: 115px;
      }
      h2 {
        align-self: center;
        color: black;
        font-weight: 200;
        font-family: $open-sans;
      }
    }
    .about-slider-wrapper {
      align-self: center;
      margin-bottom: 5px;
      background-color: #e8f2f9;
      height: calc(100% - 5px);
      width: calc(100% - 10px);
    }
  }
}
