@import "../../../assets/fontsVariable.scss";

.consultation-option-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 88%;
  .consultation-option-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 23px 24px 0px 24px;
    border: 1px solid $primary-color;
    height: calc(100% - 26px);
    width: calc(100% - 48px);
    .consultation-option-header {
      display: flex;
      justify-content: center;
      width: calc(100% - 18px);
      height: 35%;
      h3 {
        font-family: $open-sans;
        font-weight: 400;
        width: 50%;
        text-align: center;
        margin-top: 20%;
        color: black;
        font-size: 14px;
      }
      .consultation-option-image {
        height: 100%;
        width: 45%;
        margin: 15% 0 0 0;
        z-index: 2;
        background-image: url("/Img/Image/consultationCouch.png");
        background-size: contain;
        background-repeat: no-repeat;
        .consultation-option-bouble {
          display: flex;
          justify-content: center;
          width: 60%;
          height: 55%;
          margin: -40% 0 0 50%;
          background-image: url("/Img/Image/ballonOne.png");
          background-size: contain;
          background-repeat: no-repeat;
          p {
            font-size: 12px;
            font-family: $shadows-into;
            width: 80%;
            height: 20%;
            color: black;
            margin: 18% 0;
          }
        }
      }
    }
    .consultation-option-content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 18px);
      height: calc(100% - 9px);
      margin-bottom: 9px;
      background-color: $primary-color;
      .consultation-option-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        height: 95%;
        .consultation-arrow {
          text-align: left;
          a {
            font-size: 40px;
            color: $arrow-color;
          }
        }
      }
    }
  }
  .consultation-option-desktop {
    display: none;
  }
  .consultation-option-bouble-desktop {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  .consultation-option-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 87%;
    margin: 6% auto 0 auto;
    background-image: url("/Img/Image/Desktop/Consultation.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .consultation-option-desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 40%;
      margin: 12% 7%;
      border: 1px solid black;
      .consultation-wrapper-content-desktop {
        background-color: white;
        width: 98%;
        height: 98%;
      }
    }
    .consultation-option-bouble-desktop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 12% 13% 0 0;
      width: 20%;
      height: 30%;
      background-image: url("/Img/Image/ballonOne.png");
      background-size: contain;
      background-repeat: no-repeat;
      p {
        font-size: 18px;
        margin: 22% 0 0 0;
      }
      .arrow-in-bouble-desktop-left {
        font-size: 25px;
        margin: 21% 0 0 14%;
      }
      .arrow-in-bouble-desktop-right {
        font-size: 25px;
        margin: 21% 14% 0 0;
      }
    }
    .consultation-option-border {
      display: none;
    }
  }
}
