@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

// Fonts
$open-sans: "Open Sans", sans-serif;
$shadows-into: "Shadows Into Light Two", cursive;

//Colors
$primary-color: #d9c2c4;
