@import "../../assets/fontsVariable.scss";

.consultation-wrapper {
  display: flex;
  width: 100vw;
  height: 88%;
  align-items: center;
  justify-content: center;
  .background-image {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 90%;
    background-image: url("/Img/Image/consultation.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .consultation-ballon {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 5vh 30vw 0 0;
      height: 50%;
      width: 60%;
      background-image: url("/Img/Image/ballonThree.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 90%;
        color: black;
        &.consultation-care {
          margin-bottom: 3vh;
        }
        h4 {
          font-size: 14px;
          line-height: 1;
          font-family: $shadows-into;
          p {
            display: inline;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (orientation: landscape) {
  .consultation-wrapper {
    height: 100%;
    width: 87%;
    margin: 6% auto 0 auto;
    .background-image {
      width: 100%;
      height: 100%;
      background-image: url("/Img/Image/Desktop/Consultation.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      .consultation-ballon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 2% -25% 0 0;
        height: 50%;
        width: 20%;
        background-image: url("/Img/Image/ballonThree.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
