@import "../../../../assets/fontsVariable.scss";

.lets-talk-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto auto;
  height: 80%;
  .lets-talk-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 5%;
    h4 {
      margin: 0;
      color: black;
      font-family: $open-sans;
      font-size: 16px;
    }
    a {
      font-size: 16px;
      font-family: $open-sans;
      font-weight: 200;
    }
  }
}
@media screen and (orientation: landscape) and (max-width: 840px) {
  .lets-talk-wrapper {
    height: 95%;
    .lets-talk-div {
      width: 95%;
      margin-bottom: 2%;
    }
  }
}
@media screen and (orientation: landscape) and (min-width: 841px) and (max-width: 1200px) {
  .lets-talk-wrapper {
    height: 95%;
    .lets-talk-div {
      width: 95%;
      margin-bottom: 2%;
    }
  }
}
@media screen and (orientation: landscape) and (min-width: 1201px) {
  .lets-talk-wrapper {
    height: 95%;
    .lets-talk-div {
      width: 95%;
      margin-bottom: 2%;
    }
  }
}
