@import "../../assets/fontsVariable";

.slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 95%;
  margin: auto;
  color: black;
  p {
    font-family: $open-sans;
    font-size: 12px;
    margin: 0 0;
    transition: 0.8s;
    margin: auto auto;
    &.one {
      margin: auto 0;
      text-align: left;
      text-transform: uppercase;
    }
    &.two {
      width: 90%;
      align-self: center;
      text-align: center;
    }
    &.three {
      text-align: justify;
      width: 90%;
    }
  }
  span {
    font-weight: 800;
  }
  .arrows {
    display: flex;
    justify-content: space-between;
  }
  .one-arrow {
    display: flex;
    align-self: center;
    width: 90%;
    margin-left: 50px;
    justify-content: space-around;
  }
  .arrow {
    align-self: end;
    text-align: center;
    font-size: 28px;
    width: 30px;
    font-weight: bold;
    color: #38544b;
    cursor: pointer;
  }
  .dots {
    color: white;
    align-self: center;
    cursor: pointer;
    transition: 0.2s;
    &.singel-arrow {
      margin-right: 30px;
    }
  }
  .active {
    color: $primary-color;
  }
}
@media screen and (min-width: 400px) and (orientation: portrait) {
  .slider-wrapper {
    p {
      font-size: 15px;
    }
  }
}
@media screen and (orientation: landscape) and (max-width: 840px) {
  .slider-wrapper {
    p {
      font-size: 9px;
    }
  }
}
@media screen and (orientation: landscape) and (min-width: 841px) and (max-width: 1200px) {
  .slider-wrapper {
    p {
      font-size: 15px;
    }
  }
}
